header {
  color: black;
}

body {
  margin: 0;
  border: 0;
}

.all_text {
  line-height: 26px;
}

.all_text.span {
  font-weight: bold;
}


.black_background {
  height: 1312px;
  width: 800px;
  background: black;
  border: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
  top: 0;
}

#header_section {
  margin-top: 88px;
  margin-left: 61px;
  margin-right: 61px;
  margin-bottom: 104px;
  height: 497px;
}

#header_text {
  z-index: 2;
  position: relative;
  width: 554px;
  margin-right: 0;
  display: inline-block;
}

h3 {
  margin: 0;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 32px;
  font-weight: lighter;
}

#title {
  color: white;
  margin-bottom: 50px;
  font-size: 32px;
  font-weight: lighter;
}

h5 {
  color: white;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
}

#description {
  line-height: 28px;
}

h6 {
  color: white;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  margin-bottom: 60px;
  font-weight: lighter;
  font-size: 16px;
  line-height: 26px;
}

#call_to_action {
  color: white;
  background: #0F62FE;
  border-radius: 23.5px;
  text-decoration: none;
  padding: 25px;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  /* margin-top: 10%; */
}

#call_to_action:hover {
  background: #163583;
}

#header_diagram {
  display: inline-block;
  width: 597px;
  z-index: 2;
  position: relative;
  top: 10px;
  margin-left: 19px;
}

#three_white_boxes {
  padding: 0;
  z-index: 3;
  position: relative;
  margin-top: 138px;
  margin-left: 81px;
  margin-right: 81px;
  margin-bottom: 81px;
}

.white_box {
  height: 395px;
  width: 346px;
  background: white;
  border-radius: 12px;
  box-shadow: 10px 10px 10px rgba(163, 163, 163, 0.5);
  display: inline-block;
  padding: 50px;
  margin-left: 0px;
}

#left_box {
  float: left;
  display: inline-block;
  margin-right: 56px;
}

#middle_box {
  display: inline-block;
  margin-right: 56px;
}

#right_box {
  display: inline-block;
}

.icon {
  drop-shadow: none;
}

.feature {
  color: black;
  font-weight: lighter;
}

p {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: lighter;
}

#video_section {
  margin-left: 81px;
  margin-top: 110px;
  margin-bottom: 104px;
}

.video_div {
  display: inline-block;
  width: 547px;
  height: 402px;
  margin-bottom: 104px;
}

#video_div1 {
  margin-right: 60px;
}

.video_title {
  color: black;
  margin-bottom: 60px;
}

iframe {
  width: 100%;
  height: 402px;
}
