header {
  color: black;
}

body {
  margin: 0;
  border: 0;
}

.black_background {
  height: 300px;
  width: 100%;
  background: black;
  border: 0;
  margin: 0;
  position: relative;
}

h3 {
  margin: 0;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}

#title {
  color: white;
}

h5 {
  color: white;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}

h6 {
  color: white;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}

#call_to_action {
  color: white;
  background: #0F62FE;
  border-radius: 23.5px;
  text-decoration: none;
  padding: 1.5%;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}

#call_to_action:hover {
  background: #163583;
}

.white_box {
  height: 200px;
  width: 30%;
  background: white;
  border-radius: 12px;
  box-shadow: 10px 10px 10px rgba(163, 163, 163, 0.5);
  /* z-index: 1;
  position: absolute; */
  display: inline-block;
}

#left_box {
  float: left;
  display: inline-block;
}

#middle_box {
  display: inline-block;
}

#right_box {
  float: right;
  display: inline-block;
}

.feature {
  coor: black;
}

.video_div {
  display: inline-block;
}

.video_title {
  color: black;
}
